<!DOCTYPE html>
<html>
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link href="/cssAdmin/bootstrap.min.css" rel="stylesheet" />

    <link href="/cssAdmin/nprogress.css" rel="stylesheet" />
    <link href="/cssAdmin/green.css" rel="stylesheet" />
    <link href="/cssAdmin/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="/cssAdmin/jqvmap.min.css" rel="stylesheet" />
    <link href="/cssAdmin/custom.min.css" rel="stylesheet" />
    <link href="/cssAdmin/Pretty-Footer.css" rel="stylesheet" />
    <link href="/cssAdmin/Pretty-Registration-Form.css" rel="stylesheet" />


    <link href="/fonts/font-awesome.min.css" rel="stylesheet" />

    <link href="/cssAdmin/table.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <!-- js -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="/js/jquery-1.12.4.js"></script>
    <script src="/js/web3.js"></script>
    <script src="/js/paganigation.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <!-- javascripts-->
    <script src="/javascripts/config.js"></script>
    <script src="/javascripts/network.js"></script>
    


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <!-- DataTable -->
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="" id="linkHome" class="site_title"><span>SUPPLY CHAIN</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Admin</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li><a href="" id="Account">Manage Account</a></li>
                                <li><a href="" id="Product">Manage Product</a></li>                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <script>

                document.getElementById('Account').href = window.location.origin + "/admintrator/listAccount";

                document.getElementById('Product').href = window.location.origin + "/admintrator/listProduct";


            </script>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu" style="margin-bottom: 0px">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col table-responsive" role="main" style="height: 700px; min-height: 700px;" id="content">
                <!-- top tiles -->
              
            </div>
           <!-- /page content -->
            <!-- footer content -->
            <div class="pull-right">
                <footer>
                    <div class="col-md-4 col-sm-6 footer-navigation">
                        <h3><a href="#">Hddt <span>Team </span></a></h3>
                        <p class="links"><a href="#"></a><strong> · </strong><a href="#"></a><strong> · </strong><a href="#">Hi</a><strong> · </strong></p>
                        <p class="company-name">SUPPLY CHAIN © 2017-2018 </p>
                    </div>
                    <div class="col-md-4 col-sm-6 footer-contacts">
                        <div>
                            <span class="fa fa-map-marker footer-contacts-icon"> </span>
                            <p><span class="new-line-span">TP</span> Danang, VietNam</p>
                        </div>
                        <div>
                            <i class="fa fa-phone footer-contacts-icon"></i>
                            <p class="footer-center-info email text-left"> +84 (236) 625 3000</p>
                        </div>
                        <div>
                            <i class="fa fa-envelope footer-contacts-icon"></i>
                            <p> <a href="#" target="_blank"> FB</a></p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm-block"></div>
                    <div class="col-md-4 footer-about">
                        <h4>About the company</h4>
                        <p>
                            We have been providing outstanding quality for software engineering and software testing services since 2007. Basing on demanding features collecting from many big names in IT and ITO industries.
                        </p>
                        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
            <!-- /footer content -->
        </div>
    </div>




</body>
</html>