<!-- Navigation -->

<% include header%>

  <script src="/javascripts/accountInformation.js"></script>
  <!-- Page Content -->
  <br></br>
  <br></br>
  <input type="hidden" value="<%= address %>" id="address">
  <div class="container">
    <h2 style="" align="center"> ACCOUNT :<%= address %></h2>
    <h3 id="companyname"style="color: " align="center"> NAME: </h3>
    <h3 id="companyaddress"style="" align="center"> ADDRESS: </h3>


    <br></br>
    <h2 style="" align="center">Product of this account</h2>
    <div class="container">

      <div id="tableAccountInfo" style="margin-left:0%; margin-right:0%;"></div>

    </div>

  </div>
  <br></br>
  <!-- Footer -->
  <% include footer%>