<!-- Navigation -->

   <% include header%>
   
  <script src="/javascripts/accountInformation.js"></script>
  <!-- Page Content -->
  <br></br><br></br>
  
  <!-- Page Content -->
    <input type="hidden" value="<%= address %>" id="address">
    <div class="panel panel-info" id="infoPanel" style="margin-top: 5%; margin-left: 5%; margin-right: 5%">
      <div class="panel-heading">
          <h3 class="panel-title">Chung ta se lam gi ?</h3>
      </div>
      <div class="panel-body" id="infoPanelText">
          <div id=""></div>

      </div>
    </div>
  <div class="container">
        <h2 style="" align="center"> ACCOUNT : <%= address %></h2>
        
        <br></br>
      <h2 style="" align="center">Product of this account</h2>
      <div class="container">

        <div id="tableAccountInfo" style="margin-left:0%; margin-right:0%;"></div>
        
        <!-- <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10"> 
            <table class="table table-striped table-bordered responstable">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Product</th>
                </tr>
              </thead>
              <tbody id="productOfAccount">
              </tbody>
            </table>
          </div>
          <div class="col-md-1"></div>
        </div> -->
      </div>

</div>
  <br></br>
  <!-- Footer -->
    <% include footer%>

