<script src="javascripts/allProduct.js"></script>
    <% include header%>

        <div id="header">
            <div class="bg-overlay"></div>
            <div class="center text-center">
                <div class="banner">
                    <h1 class="">SUPPLY CHAIN</h1>
                </div>
                <div class="subtitle">
                    <h4>thang dung thich so bu</h4>
                </div>
            </div>
            <div class="bottom text-center">
                <a id="scrollDownArrow" href="#food-menu">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
        </div>


        <h3 style="color: #0026ff" align="center"> ALL PRODUCT</h3>

        <div class="container" role="main" id="page">
            <div class="row" id="wrapper">

            </div>

        </div>
     

       





        <% include footer%>

    <script src="js/paganigation.js"></script>
