<script src="javascripts/allProduct.js"></script>
<link href="css/style.css" rel="stylesheet" />
<% include header%>

<div id="header">
    <div class="bg-overlay"></div>
    <div class="center text-center">
        <div class="banner">
            <h1 class="">SUPPLY CHAIN</h1>
        </div>
        <div class="subtitle">
            <h4>thang dung thich so bu</h4>
        </div>
    </div>
    <div class="bottom text-center">
        <a id="scrollDownArrow" href="#all_product">
            <i class="fa fa-chevron-down"></i>
        </a>
    </div>
</div>

<br>
<div class="container" id="all_product">
    <div class="row">
        <div class="jumbotron">
            <h2 class="blue" style="color:#2196F3;">All Product </h2>
            <h4 class="blue">List All Product</h4>

        </div>
    </div>

    <div role="main" id="page">
        <div class="row test" id="wrapper">

        </div>

    </div>

</div>






    <% include footer%>

    <script src="js/paganigation.js"></script>
