<% include header%>
    <script src="javascripts/ProductDetail.js"></script>
    

    <div class="panel panel-info" id="infoPanel" style="margin: 5%">
        <div class="panel-heading">
            <h3 class="panel-title">Chung ta se lam gi ?</h3>
        </div>
        <div class="panel-body" id="infoPanelText">
            <div id="bidder"></div>

        </div>
    </div>


    <input type="hidden" value="<%= address %>" id="address">
      
    <div class="container" role="main">
        <div class="row">
            <div class="col-md-4">
                <center>
                    <h2 style="color: red;">List parent of this product</h2>
                </center>
                <div id="tableParent" style="margin-left:0%; margin-right:0%;"></div>
            </div>



            <div class="col-md-4">
                <h3 style="color:blueviolet" align="center"> PRODUCT </h3>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Product Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="box-body padding-large">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left" for="addressProductTitle">Address*:</label>
                                <label class="col-md-2 col-xs-12 text-left" id="addressProduct" ></label>
                            </div>
                        </div>
                        <div class="box-body padding-large">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left" for="nameProductTitle">Name*:</label>
                                <label class="col-md-2 col-xs-12 text-left" id="nameProduct"></label>
                            </div>
                        </div>
                        <div class="box-body padding-large">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-2 text-left" for="ownerProductTitle">Owner*:</label>
                                <label class="col-md-2 col-xs-6 text-left" id="ownerProduct"></label>
                            </div>
                        </div>
                        <div class="box-body padding-large">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left" for="unitProductTitle">Unit*:</label>
                                <label class="col-md-2 col-xs-12 text-left" id="unitProduct"></label>
                            </div>
                        </div>
                        <div class="box-body padding-large">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left" for="amountProductTitle">Amount*:</label>
                                <label class="col-md-2 col-xs-12 text-left" id="amountProduct"></label>
                            </div>
                        </div>
                        <div class="box-body padding-large">
                            <div class="form-group row">
                                <label class="col-md-2 col-xs-12 text-left" for="ratioProductTitle">Ratio*:</label>
                                <label class="col-md-2 col-xs-12 text-left" id="ratioProduct"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>






            <div class="col-md-4">
                <center>
                    <h2 style="color: red;">List child of this product</h2>
                </center>
                <div id="tableChild" style="margin-left:0%; margin-right:0%;"></div>
            </div>
        </div>
    </div>



    <br></br>



    <!-- Footer -->
    <% include footer%>