<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/web3.js"></script>
  <script src="js/abi.js"></script>



  <title>SUPPLY CHAIN </title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Supply chain</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="form-group row" style="margin-top : 50px">
      <label for="executefrom " class="col-2 col-form-label ">Execute From</label>
      <div class="col-10 ">
        <select class="form-control " id="comboboxAccount"></select>
      </div>
    </div>
    <!-- <div class="form-group row " style="margin-bottom: 50px ">
      <label for="password " class="col-2 col-form-label ">Password</label>
      <div class="col-10 ">
        <input type="password " class="form-control " id="password" placeholder="Password ">
      </div> -->
  </div>
  <div class="form-group row" align="center" style="margin-left : 40% !important">
    <button type="submit " class="btn btn-primary " onclick="view()">View</button>
  </div>
  <div class="container">
    <h2>Product of Owner</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="tb">

      </tbody>
    </table>
  </div>
  </div>



  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    if (typeof web3 !== 'undefined') {
      web3 = new Web3(web3.currentProvider);
    } else {
      web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:8545'));
    }
    var a = web3.eth.accounts;
    for (n = 0; n < a.length; n++) {
      $("#comboboxAccount").append(`
              <option>${a[n]}</option>
              `)
    }

   
    function view() {
      $("#tb").text("");
      var executefrom = document.getElementById("comboboxAccount").value;
      var countproduct = web3.eth.contract(abi).at(add).getCountProductOfOwner.call(executefrom).toNumber();

      var data = [];

      for (i = 0; i < countproduct; i++) {
        var s = web3.eth.contract(abi).at(add).getProductOfOwnerByAddress.call(executefrom, i)
        data.push(s);

      }
      console.log(data);

      for (i = 0; i < data.length; i++) {
        $("#tb").append(`
      <tr>
        <td>${i}</td>
        <td> <a href="/${data[i]}">${data[i]}</a></td>
        <td><a href="/merge/${data[i]}/${executefrom}" class="btn btn-primary">Merge</a><a href="/addaction/${data[i]}/${executefrom}" class="btn btn-primary">Add Action</a><a href="/ownership/${data[i]}/${executefrom}" class="btn btn-primary">Transfer Ownership</a><a href="/setnewamount/${data[i]}/${executefrom}" class="btn btn-primary" id= "${i}">Set Amount</a></td>
      </tr>
          `);
        // console.log(data[i]);
        if (web3.eth.contract(abi0).at(data[i]).getCountParent.call().toNumber() != 0) {
          $("#"+i).hide();
         
        }
      }






    }


  </script>
</body>

</html>