<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/web3.js"></script>
  <script src="js/abi.js"></script>


  <title>SUPPLY CHAIN </title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Supply chain</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <input type="hidden" value="<%= address %>" id="address">
  <!-- Page Content -->
  <!-- <div class="container">
    <div class="raw" id="raw">
    </div>
    <!-- Page Heading -->
  <!-- <h1 class="my-4">Product
    </h1> -->

  <!-- Page Features -->
  <div class="row text-center" id="wrapper"></div>

  </div>

  <div class="container">
    <h2>Address Product:
      <%= address %>
    </h2>
    <p>This is a product.</p>
    <div class="row">
      <div class="col-sm-6">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        <br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </div>
      <div class="col-sm-6">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
        ipsa quae ab illo inventore veritatis et quasi architecto.
      </div>
    </div>
  </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Website 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="jquery/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    if (typeof web3 !== 'undefined') {
      web3 = new Web3(web3.currentProvider);
    } else {
      web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
    }
    var address = document.getElementById('address').value;
    var name = web3.hexToUtf8(web3.eth.contract(abi0).at(address).name.call().toString());
    console.log(name);
    var unit = web3.hexToUtf8(web3.eth.contract(abi0).at(address).unit.call().toString());
    var amount = web3.eth.contract(abi0).at(address).amount.call().toNumber();
    var owner = web3.eth.contract(abi0).at(address).getOwner.call().toString();
    var countchild = web3.eth.contract(abi0).at(address).getCountChild.call().toNumber();
    var countparent = web3.eth.contract(abi0).at(address).getCountParent.call().toNumber();
    var countaction = web3.eth.contract(abi0).at(address).getCountAction.call().toNumber();
    var amount = web3.eth.contract(abi0).at(address).amount.call().toString();

    console.log(countparent);
    var child = [];
    for (i = 0; i < countchild; i++) {
      var s = web3.eth.contract(abi0).at(address).getAddressChildByIdx.call(i)
      child.push(s);

    }
    console.log(child);
    var parent = [];
    for (i = 0; i < countparent; i++) {
      var s = web3.eth.contract(abi0).at(address).getAddressParentByIdx.call(i)
      parent.push(s);
    }
    console.log(parent);
    var action = [];
    for (i = 0; i < countaction; i++) {
      var s = web3.eth.contract(abi0).at(address).getAction.call(i)
      action.push(s);
    }
    console.log(action);



  </script>

</body>

</html>