<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/web3.js"></script>
    <script src="/js/abi.js"></script>



    <title>SUPPLY CHAIN </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/heroic-features.css" rel="stylesheet">

</head>

<body>


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Supply chain</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/accounts">Accounts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <input type="hidden" value="<%= add %>" id="add">
    <input type="hidden" value="<%= account %>" id="account">
    <div class="container" style="margin-top: 50px;">
        <h1>Add Action For This Product</h1>

        <div class="form-group row">
            <label for="executefrom " class="col-2 col-form-label ">Execute From</label>
            <div class="col-10 ">
                <input type="text" name="executefrom" class="form-control" id="executefrom" value="<%= account %>" disabled>
            </div>
        </div>
        <div class="form-group row" style="margin-bottom: 20px">
            <label for="password" class="col-2 col-form-label">Password</label>
            <div class="col-10">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="amount" class="col-2 col-form-label">Amount</label>
            <div class="col-10">
                <input type="number" name="amount" class="form-control" id="amount" placeholder="New Amount = Amount + Old Amount">
            </div>
        </div>
        <div class="form-group row" align="center" style="margin-left : 40% !important">
            <button type="submit " class="btn btn-primary " onclick="submit();">Submit</button>
        </div>

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <!-- <script src="js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript">
        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            web3 = new Web3(new Web3.providers.HttpProvider('http://localhost:8545'));
        }
        var account = document.getElementById('account').value;
        var product = document.getElementById('add').value;
     
        console.log( web3.eth.contract(abi0).at(product));

        function submit() {
            var amount = document.getElementById('amount').value;
            var executefrom = document.getElementById('executefrom').value.toString();
            var password = document.getElementById('password').value;

            web3.personal.unlockAccount(executefrom, password);
            web3.eth.contract(abi0).at(product).setNewAmount.sendTransaction( amount, {
                from: executefrom,
                gas: "0x0" + (4000000).toString(16)
            });
        }

    </script>
</body>

</html>